$foreground: #222222;
$background: #ffffff;
$secondary: gray;
$tertiary: #f6f8fa;
$accent: #00bf60;

$foreground-dark: #eeeeee;
$background-dark: #1a1a1a;
$secondary-dark: #999999;
$tertiary-dark: #333333;
$accent-dark: #0bff85;

@mixin light-theme {
    color: $foreground;
    background-color: $background;

    .secondary {
        color: $secondary;
    }

    a, a:link, a:visited {
        color: $accent;
    }

    a:hover {
        color: darken($accent, 5%);
    }

    blockquote {
        border-left: 2px solid $secondary;
    }

    code {
        background-color: $tertiary;
    }

    pre code {
        background-color: transparent;
    }

    .footnote-definition sup {
        color: $secondary;
    }
}

@mixin dark-theme {
    color: $foreground-dark;
    background-color: $background-dark;

    .secondary {
        color: $secondary-dark;
    }

    a, a:link, a:visited {
        color: $accent-dark;
    }

    a:hover {
        color: lighten($accent-dark, 10%);
    }

    blockquote {
        border-left: 2px solid $secondary-dark;
    }

    code {
        background-color: $tertiary-dark;
    }

    pre code {
        background-color: transparent;
    }

    .footnote-definition sup {
        color: $secondary-dark;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }
}

.dark-mode-buttons {
    position: absolute;

    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

body:not(.dark-mode) {
    @include light-theme;

    #dark-mode-on {
        display: inline;
    }

    #dark-mode-off {
        display: none;
    }
}

body.dark-mode {
    @include dark-theme;

    #dark-mode-on {
        display: none;
    }

    #dark-mode-off {
        display: inline;
    }
}
